
TAVILY_API_KEY=
GROQ_API_KEY=
AVIATIONSTACK_API_KEY=
OPENWEATHER_API_KEY=

# Database Configuration (Docker Postgres)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db-name